html, body, #root {
  height: 100% !important;
}

.wrapper {
  min-height: 100% !important;
}

.content-wrapper {
  min-height: 100vh !important;
}
i{
  margin-right: 7px;
}

.nav-item{
  align-items: start;
  justify-content: start;
}

.tituloMenu{
  font-size: 25px !important;
  font-weight: 700 !important;
}

.tituloUltimoMes{
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
}

.tituloUltimoMes h3{
  font-size: 20px !important;
  font-weight: 500 !important;
}