html, body, #root {
  height: 100% !important;
}

.wrapper {
  min-height: 100% !important;
}

.content-wrapper {
  min-height: 100vh !important;
}
i{
  margin-right: 7px;
}

.nav-item{
  align-items: start;
  justify-content: start;
}

.tituloMenu{
  font-size: 25px !important;
  font-weight: 700 !important;
}

.tituloUltimoMes{
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
}

.tituloUltimoMes h3{
  font-size: 25px !important;
  font-weight: 500 !important;
  padding: 20px 0px !important;
}

.card-icon {
  transform: translateY(-50%);
  transition: transform 0.5s ease;
}

.card:hover .card-icon {
  transform: translateY(-50%) scale(1.1);
}

.info-link {
  background-color: rgba(0, 0, 0, .1);
  transition: background-color 0.3s ease;
}

.info-link:hover {
  background-color: rgba(0, 0, 0, 0.2);
}